.popup__delete {
	border: 0;
	padding: 0;
	max-width: 358px;
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #fff;
	font-family: 'Inter', 'Arial', 'sans-serif';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	border-radius: 2px;
	box-sizing: border-box;
}

@media screen and (max-width: 879px) {
	.popup__delete {
			height: 46px;
			margin-top: 15px;
			font-size: 14px;
			line-height: 17px;
	}
}
