.login__form {
    display: flex;
    flex-direction: column;
    width: 358px;
    height: 300px;
    /* justify-content: space-between; */
    gap: 10px;
  }
  
  @media screen and (max-width: 375px) {
    .login__form {
      height: 305px;
      width: 260px;
    }
  }