.login__login-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 0;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
  }

  .login__login-link:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 767px) {
    .login__login-link {
      padding-top: 20px;
    }
  }