.popup-full__container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    width: 430px;
    height: 330px;
}

@media screen and (max-width: 768px) {
    .popup-full__container {
      padding: 25px 22px;
      max-width: 282px;
    }
  }
  